In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("kit_sponsors_real.csv")
df.head()

,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,Nike,Nike,Nike,Nike,Nike,Nike,Nike,Nike,Nike,Nike,Puma,Puma,Puma,Puma
1,Hummel,Hummel,Hummel,Nike,Nike,Nike,Nike,Nike,Macron,Macron,Macron,Macron,JD Sports,Umbro
2,Diadora,Lonsdale,Lonsdale,Umbro,Umbro,Umbro,Xtep,Umbro,Adidas,Puma,Puma,JD Sports,Puma,Nike
3,Lonsdale,Lonsdale,Reebok,Umbro,Reebok,Umbro,Umbro,Reebok,Nike,Adidas,Adidas,Adidas,Adidas,Puma
4,Reebok,Reebok,Joma,Reebok,Adidas,Reebok,Carbrini,Adidas,Kappa,Avec,Macron,Macron,Macron,Nike

In [5]:
df.columns.max()

'2017-18'

In [6]:
df.columns.min()

'2004-05'

In [7]:
{str(year): str(year) for year in df.columns}

{'2004-05': '2004-05',
 '2005-06': '2005-06',
 '2006-07': '2006-07',
 '2007-08': '2007-08',
 '2008-09': '2008-09',
 '2009-10': '2009-10',
 '2010-11': '2010-11',
 '2011-12': '2011-12',
 '2012-13': '2012-13',
 '2013-14': '2013-14',
 '2014-15': '2014-15',
 '2015-16': '2015-16',
 '2016-17': '2016-17',
 '2017-18': '2017-18'}

In [9]:
years = {str(year): str(year) for year in df.columns}